@model IEnumerable<pessoa_crud.Models.Pessoa>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Pessoas</title>
</head>
<body>
    <div class="text-center">
        <div class="text-center p-2">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Editar</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (pessoa_crud.Models.Pessoa r in Model) {
                    <tr>
                        <td>@r.Nome</td>
                        <td>@r.Sobrenome</td>
                        <td>@r.Telefone</td>
                        <td>@r.Email</td>
                        <td><a class="btn btn-primary" asp-route-id="@r.Codigo" asp-action="Editar">Editar</a></td>
                        <td><a class="btn btn-primary" asp-route-id="@r.Codigo" asp-action="Remover">Deletar</a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary" asp-action="Criar">Cadastrar</a>
    </div>
</body>
</html> 